<form>
  <div class="mb-3 ">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelper">
    <div id="emailHelp" class="form-text">Votre adresse ne sera pas partagee </div>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Votre Message</label>
    <textarea name="message" id="message" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btnmessage">Envoyer</button>
</form>