<footer>
    <div class="footer container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="text-center">ADWIZ</h2>
            </div>
            <div class="col-lg-4 text-center">
                <ul class="bottom-navigation">
                    <a href="/about"><li class="list-item">À-propos |</li></a>
                    <a href="/services"><li class="list-item">Services |</li></a>
                    <a href="/contact"><li class="list-item"> Contact</li></a> 
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <p class="powered-by">
                    <i class="fa fa-copyright"> </i><span class="date"> </span>
                    <a href=''>Xtends Inc</a>
                    Websites and Mobile applications developement company
                </p>
            </div>  
        </div>
    </div>
</footer>