<header>
    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img height="40px" width="40px" src="../images/logo.png"
                    class="mx-1 d-inline-block align-text-center" />Adwiz
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Acceuil</a>
                    </li>
                    <a class="nav-link" href="/services">Services</a>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">À-Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" style="background-color: #a8e230;color:#fff; border-radius:18px; font-weight:bold" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>