<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="./images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Adwiz | A-Propos</title>
</head>

<body>
    {{> _header}}
    <main class="container main-about">
        <div class="row">
            <div class="col-lg-12 about-intro">
                <h1 class="text-center"> {{titre1}} </h1>
                <p class="about-desc">
                   <span style="color: #0db04f; font-size:40px; font-weight:bold">A</span>dwiz est une <span style="color: #000; font-weight:bold;">initiative entrepreneuriale </span> basée sur les services de conseil et d’assistance technique aux PME camerounaises et africaines.
                    L’information est essentielle à toute bonne décision mais l’accès à la bonne information est souvent très délicat, particulièrement dans le contexte de précarité et de vulnérabilité que connaissent les promoteurs d’entreprises en Afrique subsaharienne notamment au Cameroun.
                    Adwiz s’engage ainsi à faciliter et
                    accompagner les particuliers et les entreprises qui souhaitent réaliser des études,développer des produits,
                    offrir des services ou organiser des travaux dans 6 domaines clés. 
                </p>
                <h4 class="about-title">La genèse et les promoteurs </h4>
                <p class="about-desc">
                    L’idée d’offrir des conseils aux entreprises sous forme de prestations est née des difficultés
                     que nos ingénieurs et techniciens ont rencontré quand il a fallu se préparer à affronter le monde
                      professionnel après les formations académiques. Les initiateurs en quête d’accompagnement et 
                      d’orientation dans leur intention de s’auto-employer et devenir promoteurs de leurs propres 
                      entreprises ont été confrontés à un vide. Il n’existait pas de guichets vers lesquels se 
                      tourner pour recevoir des conseils suffisamment pertinents dans les domaines de compétence 
                      qui sont les notre (propriété intellectuelle, ingénierie mécanique et productique, nutrition et 
                      recherche agro-alimentaire, montage et gestion des projets, environnement ou encore amélioration
                       continue de la qualité et de la productivité). Plutôt que de continuer à rechercher les 
                       interlocuteurs capables de nous guider, nous nous sommes résolu à être les premiers à offrir 
                       des conseils sous forme de prestations de services intellectuels pour les PME locales. 
                       C’est ainsi que le projet Adwiz voit le jour en novembre 2015; porté par <span style="color: #000; font-weight:bold;">Mme Nyonta Sonwa 
                       Christiane Lore</span>, conseillère juridique ainsi qu’une équipe de jeunes camerounais. 
                       Le cabinet Adwiz a par ailleurs été formalisé au centre de formation et de création des
                        entreprises de Yaoundé.
                </p>
                <div class="row ourgoal">
                    <div class="col-lg-6">
                        <div class="ourgoal-text">
                            <h4 class="about-title">Notre but</h4>
                            <p class="about-desc">
                                Prodiguer des <span style="color: #000; font-weight:bold;"> conseils techniques</span> et développer des solutions technologiques très commodes d’usage dans les secteurs et métiers ayant un attrait pour les PME camerounaise et africaine.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="ourgoal-text">
                            <h4 class="about-title">Notre philosophie</h4>
                            <p class="about-desc">
                               <span style="color: #000; font-weight:bold;"> Construire un développement durable</span>, conciliant les 4 piliers (environnemental, social, économique et culturel) des activités humaines.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="col-lg-12">
                          <div class="ourgoal-text">
                                <h4 class="about-title">Nos atouts </h4>
                                <p class="about-desc">
                                    <span style="color: #000; font-weigh:bold;">La pluridisciplinarité</span> et le bilinguisme des équipes, la disponibilité à l’amélioration continue,
                                    l’ouverture sur l’innovation et les défis de R&D, les partenariats et le réseautage international,
                                    des expériences multiculturelles depuis 2005 ainsi qu’un espace de travail partagé (30 places) sont
                                    là quelques atouts dont dispose le cabinet et qui <span style="color: #000; font-weigh:bold;"> vous garanti un service de qualité.</span> En outre,
                                    Adwiz peut se vanter de valeurs telles que l’ingéniosité, la flexibilité, l’intégrité, l’efficience,
                                    et la responsabilité.
                                </p>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row price">
            <div class="col-lg-12 mb-4">
                <h1 class=>{{ titre2 }} </h1>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="price-image">
                        <img class="img img-fluid" src="./images/apmei.png" alt="apme logo">
                    </div>
                    <div>
                        <p class="price-text">
                            Sélection de notre entreprise comme partenaire de l’APME pour les services d’appui aux
                            entreprises. A ce jour, nous avons déjà apporté un encadrement à plusieurs entreprises du
                            portefeuille de l’APME
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="price-image">
                        <img class="img img-fluid" style="height: 100px; width:100px" src="./images/po.png"
                            alt="prix orange">
                    </div>
                    <div>
                        <p class="price-text">
                            3e place du POESAM (Prix Orange de l’Entrepreneuriat Social en Afrique et au Moyen Orient)
                            en 2016
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="price-image">
                        <img class="img img-fluid" src="./images/proto.png" alt="logo proto">
                    </div>
                    <div>
                        <p class="price-text">
                            2e place du Fonds-proto pour l’accompagnement de l’entreprise Eco Building Services dans le
                            prototypage d’une presse à brique améliorée entre 2020 et 2021.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row partners-trust">
            <div class="col-lg-12">
                <h1 class=""> {{ titre3 }} </h1>

                <div class="col-lg-12 mosaic">
                    <ul class="partner-mosaic">
                        <li><img src="./images/lepidma.png" width="200px" height="200px" alt="pidma" /> </li>
                        <li><img src="./images/panafricaine.png" width="300px" height="200px"
                                alt="institut-panafricaine" /> </li>
                        <li><img src="./images/acascience.jpg" width="200px" height="200px" alt="academie-science" />
                        </li>
                        <li><img src="./images/minaderr.jpg" width="310px" height="200px" alt="minader" /> </li>
                        <li><img src="./images/po.png" width="200px" height="200px" alt="orange" /> </li>
                        <li><img src="./images/proto.png" width="200px" height="200px" alt="proto" /> </li>
                        <li><img src="./images/apmei.png" width="200px" height="200px" alt="apme" /> </li>
                        <li><img src="./images/bm.png" width="200px" height="200px" alt="banque-mondiale" /> </li>
                        <li><img src="./images/cp.png" width="200px" height="200px" alt="centre-pasteur" /> </li>
                        <li><img src="./images/ctc.png" width="200px" height="200px" alt="ctc" /> </li>
                        <li><img src="./images/enableyouth.png" width="300px" height="200px" alt="enable-youth" /> </li>
                        <li><img src="./images/jica.png" width="200px" height="200px" alt="jica" /> </li>
                        <li><img src="./images/fao.png" width="300px" height="200px" alt="fao" /> </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                    <h1>Nos Réalisations</h1>
                    <div class="col-lg-12">
                        <p class="achievements-text">
                            Dans le cadre de son projet, le <span style="font-weight:bold; color:#0db04f;">Minader</span>  a sollicité l’expertise du cabinet Adwiz pour améliorer
                            ses activités de production, de transformation et de commercialisation. Nos experts ont
                            contribué à l’élaboration de nombreux documents de politique publique (mécanisation, développement
                            semencier), d’intervention stratégique (plan semencier national, stratégie nationale de la
                            riziculture, plan de développement de la filière maïs etc.) et d’investissement direct ou
                            opérationnel (montage de projet, développement de plans d’affaires, encadrement et appui à la
                            structuration des coopératives).
                        </p>
                </div>
                <div class="col-lg-12">
                    <p class="achievements-text">
                        Le cabinet se vante également d’une collaboration avec <span style="font-weight:bold; color:#0db04f;">la banque mondiale</span>, nos experts ont été
                        sollicités pour leurs services sur plusieurs domaines (ingénierie mécanique, environnement,
                        agriculture, nutrition, développement entrepreneurial etc.). Outre ces services de consultant,
                        notre équipe a été sélectionnée pour apporter des services d’appui aux entreprises et nos
                        experts ont été recrutés/sélectionnés comme mentors pour l’accompagnement des jeunes
                        entreprises, entreprises féminines ou /start-up d’innovation, ou pour le développement de
                        prototypes d’outils ou de machines destinées au développement durable (foyer amélioré, presse a
                        brique, toilette mobile).
                    </p>
                </div>
                <div class="col-lg-12">
                    <p class="achievements-text">
                        <span style="font-weight:bold; color:#0db04f;">Le FAO </span>dans le cadre de son projet d’amélioration de la nutrition des populations et de la
                        promotion de la riche agro-biodiversité locale nous a également fait confiance. Nos experts ont
                        contribué à l’élaboration de la plus importante et récente base de données sur la composition
                        des aliments de l’Afrique de l’Ouest et d’Afrique Centrale. Cet important outil
                        technico-pédagogique est accessible via <a target="blank" href="http://www.fao.org/3/ca7779b/CA7779B.PDF">ce
                            lien</a>.
                    </p>
                </div>
                <div class="col-lg-12">
                <h4 class=" text-center achievements" >
                    Ces structures, ainsi que plusieurs autres organisations ont bénéficié de notre expertise comme ils
                    en témoignent d’ailleurs. À votre tour, faites-nous confiance.
                </h4>
                <p class="text-center">
                        <a href="/contact" class="custom-button">Nous Contacter</a>
                 </p>
            </div>
            </div>
                
            <div class="row">
                <h1> {{titre4}}</h1>
                <div class="row team">
                    <div class="col-lg-3 team-member">
                        <div class="card" style="">
                            <img class="card-img-top team-member-image p-3" src="./images/tl.png" alt="team-member">
                            <div class="card-body text-justify">
                                <h5 class="card-title  text-center team-member-name ">NYONTA Christiane</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center team-member-title m-3">Directrice
                                    Générale</h6>
                                <p class="card-text text-justify">Deux (02) ans d’expérience comme Directrice du Cabinet d’études et cinq (05) ans d’expérience comme assistante juriste</p>
                                <p class="text-center team-member-socials">
                                    <a href="" class="card-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team-member">
                        <div class="card" style="">
                            <img class="card-img-top team-member-image p-3" src="./images/tl.png" alt="team-member">
                            <div class="card-body">
                                <h5 class="card-title  text-center team-member-name">KOUEBOU Christiant</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center m-3">Consultant,R&D</h6>
                                <p class="card-text text-justify">20 ans d’expérience en Recherche et Développement (R&D) au niveau national et sous régional. Mentor virtuel notamment du programme Enable Youth de la BAD. </p>
                                <p class="text-center team-member-socials">
                                    <a href="" class="card-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team-member">
                        <div class="card" style="">
                            <img class="card-img-top team-member-image p-3" src="./images/tl.png" alt="team-member">
                            <div class="card-body">
                                <h5 class="card-title text-center team-member-name">Nana Dorice</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center m-3 team-member-title">Consultante,
                                    Spécialiste des questions de QHSE</h6>
                                <p class="card-text text-justify team-member-description">Spécialiste des questions de QHSE, management de qualité, management environnemental, management de sécurité/santé au travail, gestion du risque.</p>
                                <p class="text-center team-member-socials">
                                    <a href="" class="card-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team-member">
                        <div class="card" style="">
                            <img class="card-img-top team-member-image p-3" src="./images/tl.png" alt="team-member">
                            <div class="card-body">
                                <h5 class="card-title text-center team-member-name">BAKAM Carine</h5>
                                <h6 class="card-subtitle m-2 text-center text-muted team-member-title">Consultante,
                                    Spécialiste des techniques agro-alimentaires</h6>
                                <p class="card-text test-justify team-member-description">Spécialiste des techniques agro-alimentaires, ingénieur d’études au département de la mécanisation agricole (MINADER),spécialiste de propriété intellectuelle</p>
                                <p class="text-center team-member-socials">
                                    <a href="" class="card-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#" class="card-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    {{> _footer}}
    <script src="./js/app.js"></script>
</body>

</html>