<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Adwiz | CAD</title>
</head>

<body>
    {{> _header}}
    <main class="main-services-details  container-fluid">
        <div class="row">
            <div class="col-lg-4" >
                <div>
                    <img class="img img-fluid ask-service-image" src="../images/iconecad.jpg" alt="service-image">
                </div> 
            </div>

            <div class="col-lg-8">
                        <h1 class="ask-service-title">Conception assistée par ordinateur</h1>
                    <p class="ask-service-text" >
                        Dans la perspective de standardiser et d’optimiser vos outils et équipements, la Conception Assistée par Ordinateur est mise en valeur par nos équipes capables de prototyper des solutions technologiques.
                        Lorsqu’en tant qu’industriel vous avez l’idée d’une machine qui vous aidera dans votre entreprise, il est nécessaire de vous assurer de l’efficacité de celle-ci avant même d’investir dans la conception de sa version matérialisée. Avant cette étape finale, nous vous proposons de passer par la Conception assistée par ordinateur.
                    </p>
                    <p class="text-center">
                        <a href="/contact" class="custom-button">S'informer</a>
                    </p>
            </div>
        </div>
        
        <!-- Notre methode -->
        <div class="row our-moto">
            <div class="col-lg-6 moto-description">
                <h3 class="moto-title ">
                    Vous souhaitez prototyper des solutions technologiques ?
                </h3>
                <p class="moto-description">
                    En nous aidant d’outils informatiques, nous procédons à une modélisation logicielle de votre futur objet technique afin de vous permettre d’avoir une idée du fonctionnement de  votre machine avant même sa fabrication.
                    Pré visualisez votre futur machine grâce à notre représentation en deuxième ou troisième dimension le cas échéant ; afin de vous faire une idée exacte de la structure, du volume ou encore de la texture.
                </p>
                <p class="text-center moto-description" style="margin-top: 10%;">
                        <a href="/contact" class="custom-button">Demander un devis</a>
                </p>
            </div>
            <div class="col-lg-6 moto-illustration">
                <img src="../images/ordi.png" alt="method-illustration" class="img img-fluid">
            </div>
        </div>
        <!-- Notre service personalise inclue-->
        <div class="row pack-service">
            <div class="">
                <h2 class="text-center pack-service-title">
                    Un service personalisé 
                </h2>
            </div>
            <div class="row">
  
                <div class="col-lg-4 ">
                    <p class=" text-center services-icon">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Accessible</h4>
                   
                </div>
                <div class="col-lg-4 pack">
                    <p class="services-icon text-center">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Éfficace</h4>
                    
                </div>
                <div class="col-lg-4 pack-service-illustration">
                    <p class="services-icon text-center">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Rapide</h4>
                </div>
            </div>
        </div>


        <!--testimonies-->
        <div class="row  text-center service-testimonial">
            <h2 class="client-testimonial-title">Ce que disent nos clients</h2>
            <p class="client-testimonial-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eos atque rerum, officiis omnis vero voluptatum sint, voluptatibus iste ipsa similique dolore eaque distinctio voluptas quaerat itaque? Laborum, quidem neque.
            </p>
            <strong class="client-name">Nom Client</strong>
            <p class="client-description"> Client Role |  <strong class="client-corp">Entreprise</strong> </p>
        </div>
    </main>
    {{> _footer}}

    <script type="text/x-handlebars-template" src="./js/app.js"></script>

</body>

</html>