<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="../images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Adwiz | PI</title>
</head>

<body>
    {{> _header}}
    <main class="main-services-details  container-fluid">
        <div class="row">
            <div class="col-lg-4" >
                <div>
                    <img class="img img-fluid ask-service-image" src="../images/iconepi.jpg" alt="service-image">
                </div> 
            </div>

            <div class="col-lg-8">
                        <h1 class="ask-service-title">Propriété Intellectuelle </h1>
                    <p class="ask-service-text" >
                        Notre expertise en Propriété Intellectuelle & Conseils est dédiée aux inventeurs et est une garantie vers la protection et la valorisation des actifs (marques, brevets etc).
                        Le Cameroun est un membre de l’OAPI ; il en abrite également le siège qui est situé à Yaoundé. Par ailleurs, plusieurs articles de loi aux niveaux national et régional légifèrent sur la protection et la promotion de la propriété intellectuelle. Cependant, l’expérience sur le terrain montre que, les cas de contrefaçons, de plagiat, de vol de propriété intellectuelle et de concurrence déloyale surpassent de loin le nombre de brevets déposés chaque année. Ceci est en grande partie dû non seulement à la méconnaissance de ce domaine et au manque d’information fiable au profit des créateurs, mais aussi et surtout à cause d’une absence quasi-totale d’experts en accompagnement dans le processus de protection et de valorisation de la propriété intellectuelle.
                        Notre cabinet intervient donc sur ce pan afin de vous proposer un accompagnement du fait de notre maîtrise du processus d’obtention de brevets, de protection de ceux déjà obtenus et de vulgarisation de la connaissance sur le sujet.
                    </p>
                    <p class="text-center">
                        <a href="/contact" class="custom-button">S'informer</a>
                    </p>
            </div>
        </div>
        
        <!-- Notre methode -->
        <div class="row our-moto">
            <div class="col-lg-6 moto-description">
                <h3 class="moto-title ">
                    Vous êtes promoteur d’une société et vous pensez avoir découvert un produit ou inventé quelque chose de révolutionnaire ? 
                </h3>
                <p class="moto-description">
                     <span style="font-weight: bold;">Pensez à nous </span>pour vous accompagner dans le processus d’obtention d’un brevet sur votre invention. Nous possédons une équipe outillées pour ce qui est des compétences en matière de droit de brevets et de réglementation. Notre ingénierie dans les domaines scientifiques et techniques clés nous garantissent <span style="font-weight: bold;"> connaissances nécessaires pour comprendre votre invention, rédiger et déposer un brevet.</span> Notre accompagnement vous est garanti jusqu’à l’aboutissement de la procédure.
                </p>
                <p class="text-center moto-description">
                        <a href="/contact" class="custom-button">Demander un devis</a>
                </p>
            </div>
            <div class="col-lg-6 moto-illustration">
                <img src="../images/idea.png" alt="method-illustration" class="img img-fluid">
            </div>
        </div>
        <!-- Notre service personalise inclue-->
        <div class="row pack-service">
            <div class="">
                <h2 class="text-center pack-service-title">
                    Un service personalisé 
                </h2>
            </div>
            <div class="row">
  
                <div class="col-lg-4 ">
                    <p class=" text-center services-icon">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Accessible</h4>
                   
                </div>
                <div class="col-lg-4 pack">
                    <p class="services-icon text-center">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Éfficace</h4>
                    
                </div>
                <div class="col-lg-4 pack-service-illustration">
                    <p class="services-icon text-center">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </p>
                    <h4 class="text-center pack-service-char">Rapide</h4>
                </div>
            </div>
        </div>


        <!--testimonies-->
        <div class="row  text-center service-testimonial">
            <h2 class="client-testimonial-title">Ce que disent nos clients</h2>
            <p class="client-testimonial-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eos atque rerum, officiis omnis vero voluptatum sint, voluptatibus iste ipsa similique dolore eaque distinctio voluptas quaerat itaque? Laborum, quidem neque.
            </p>
            <strong class="client-name">Nom Client</strong>
            <p class="client-description"> Client Role |  <strong class="client-corp">Entreprise</strong> </p>
        </div>
    </main>
    {{> _footer}}
    <script type="text/x-handlebars-template" src="./js/app.js"></script>

</body>

</html>