<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
            <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Adwiz</title>
</head>

<body>
    {{> _header}}
    <main class="main-services container fluid">
        <div class="row">
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p>
                    <p class="services-title">ADWIZ-PI</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-PI</h2>
                    <p class="services-description-text">
                        Notre expertise en Propriété Intellectuelle et Conseils est dédié aux inventeurs
                        individuel est une garantie vers la Protection et Valorisation des actifs (marques,
                        brevets...)
                    </p>
                    <a class="services-description-link" href="/services/pi">En savoir plus <i class="fa fa-angle-right"
                            aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-search"></i></p>
                    <p class="services-title">ADWIZ-R&D</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-R&D</h2>
                    <p class="services-description-text">
                        S’appuyant sur une vingtaine d’année d’activité de recherche et développement dans
                        l’agriculture, l’agroalimentaire et la Nutrition, le cabinet est outillé pour formaliser vos
                        concepts et
                        concrétiser vos projets
                    </p>
                    <a class="services-description-link" href="/services/r&d">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-desktop" aria-hidden="true"></i></p>
                    <p class="services-title">ADWIZ-CAD</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-CAD</h2>
                    <p class="services-description-text">
                        Dans la perspective de standardiser et optimiser les outils et équipement, la Conception
                        Assistée par Ordinateur est mise en valeur par nos équipes capables de Prototyper les solutions
                        technologiques
                    </p>
                    <a class="services-description-link" href="/services/cad">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-building-o" aria-hidden="true"></i></p>
                    <p class="services-title">ADWIZ-BDS</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-BDS</h2>
                    <p class="services-description-text">
                        Une offre personnalisée de Services accrédités en appui aux PMEs est disponible, basée sur le
                        triptyque Diagnostic / Business Plan/Formalisation
                    </p>
                    <a class="services-description-link" href="/services/bds">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></p>
                    <p class="services-title">ADWIZ-KAIZEN</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-KAIZEN</h2>
                    <p class="services-description-text">
                        Nous proposons un accompagnement basé sur les méthode d’amélioration de la
                        Productivité et de la Qualité, avec a terme l’assurance d’Augmenter la performance de votre
                        entreprise
                    </p>
                    <a href="/services/kaizen">En savoir plus <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div>
                    <p class="services-icon"><i class="fa fa-pagelines" aria-hidden="true"></i></p>
                    <p class="services-title">Farm-ADWIZ</p>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">Farm-ADWIZ</h2>
                    <p class="services-description-text">
                        A l’ere de la globalisation, les Plateforme d’information Agricole sont des outils
                        de performance et d’amélioration. A travers FarmAdwiz nous offrons aux acteurs agricole
                        L’information accessible et un réseautage de proximité.
                    </p>
                    <a class="services-description-link" href="/services/farmadwiz">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </main>
    {{> _footer}}
    <script src="./js/app.js"></script>
</body>

</html>