<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="./images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Adwiz | Services</title>
</head>

<body>
    {{> _header}}
    <main class="main-services container fluid">
        <div class="row">
            <h1>{{titre1}} </h1>
            <div class="col-lg-4" id="services-wrapper">
                <div class="hide-on-hover text-center">
                    <img style="height: 100px; width:100px" src="./images/iconerd.jpg" alt="recherche et developement" class="img-fluid">
                    {{!-- <p class="services-icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p> --}}
                    <p class="services-title">Proprieté Intéllectuelle</p>
                     <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-PI</h2>
                    <p class="services-description-text">
                        Notre expertise en Propriété Intellectuelle et Conseils est dédié aux inventeurs
                        individuel est une garantie vers la Protection et Valorisation des actifs (marques,
                        brevets...)
                    </p>
                    <a class="services-description-link" href="/services/pi">En savoir plus <i class="fa fa-angle-right"
                            aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper ">
                <div class=" hide-on-hover text-center service-intro">
                    {{!-- <p class="services-icon"><i class="fa fa-search"></i></p> --}}
                    <img style="height: 100px; width:100px"   src="./images/iconerd.jpg" alt="recherche et developement" class="img-fluid">
                    <p class="services-title">Recherche et Dévelopement</p>
                    <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-R&D</h2>
                    <p class="services-description-text">
                        S’appuyant sur une vingtaine d’année d’activité de recherche et développement dans
                        l’agriculture, l’agroalimentaire et la Nutrition, le cabinet est outillé pour formaliser vos
                        concepts et
                        concrétiser vos projets
                    </p>
                    <a class="services-description-link" href="/services/r&d">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div class="hide-on-hover text-center">
                    <img style="height: 100px; width:100px"  src="./images/iconecad.jpg" alt="conception assiste par ordinateur" class="img-fluid">
                    {{!-- <p class="services-icon"><i class="fa fa-desktop" aria-hidden="true"></i></p> --}}
                    <p class="services-title"> Conception Assistée par Ordinateur</p>
                    <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-CAD</h2>
                    <p class="services-description-text">
                        Dans la perspective de standardiser et optimiser les outils et équipement, la Conception
                        Assistée par Ordinateur est mise en valeur par nos équipes capables de Prototyper les solutions
                        technologiques
                    </p>
                    <a class="services-description-link" href="/services/cad">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="services-wrapper">
                <div class=" hide-on-hover services-title-icon text-center">
                    <img style="height: 100px; width:100px"  src="./images/iconebds.jpg" alt="recherche et developement" class="img-fluid">
                    {{!-- <p class="services-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></p> --}}
                    <p class="services-title">Services d'Appuie aux PMEs</p>
                    <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-BDS</h2>
                    <p class="services-description-text">
                        Une offre personnalisée de Services accrédités en appui aux PMEs est disponible, basée sur le
                        triptyque Diagnostic / Business Plan/Formalisation
                    </p>
                    <a class="services-description-link" href="/services/bds">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div class=" hide-on-hover text-center">
                     <img src="./images/iconekaizen.jpg" style="height: 100px; width:100px"  alt="kaizen" class="img-fluid">
                    {{!-- <p class="services-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></p> --}}
                    <p class="services-title">KAIZEN</p>
                    <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">ADWIZ-KAIZEN</h2>
                    <p class="services-description-text">
                        Nous proposons un accompagnement basé sur les méthode d’amélioration de la
                        Productivité et de la Qualité, avec a terme l’assurance d’Augmenter la performance de votre
                        entreprise
                    </p>
                    <a href="/services/kaizen">En savoir plus <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-4" id="services-wrapper">
                <div class=" hide-on-hover text-center">
                    <img src="./images/logofarmadwiz.jpg" style="height: 100px; width:100px"  alt="recherche et developement" class="img-fluid">

                    {{!-- <p class="services-icon"><i class="fa fa-pagelines" aria-hidden="true"></i></p> --}}
                    <p class="services-title">Farm-Adwiz</p>
                    <span class="d-lg-none">Voir plus</span>
                </div>
                <div class="services-description">
                    <h2 class="services-description-title">Farm-ADWIZ</h2>
                    <p class="services-description-text">
                        A l’ere de la globalisation, les Plateforme d’information Agricole sont des outils
                        de performance et d’amélioration. A travers FarmAdwiz nous offrons aux acteurs agricole
                        L’information accessible et un réseautage de proximité.
                    </p>
                    <a class="services-description-link" href="/services/farmadwiz">En savoir plus <i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row trust">
            <div class="trust-intro">
                <h1 class="trust-intro">{{titre2}} </h1>
                <p class="text-justify">
                    Parce que la réussite de votre entreprise dépend non seulement de votre équipe et de votre travail mais aussi d’une approche holistique dans la gestion de votre productivité. Nous promettons de mettre à votre service notre savoir dans les différents domaines avec à terme des améliorations à travers des actions concrètes et un impact considérable sur votre marque.
                </p>
            </div>
            <div class="col-lg-4 trust-description">
                <p class="services-icon">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </p>
                <h4 class="trust-title">Transformez votre idée</h4>
                <p class="trust-text">
                    Vous avez une idée et vous souhaitez la concrétiser sans savoir comment? Adwiz vous assiste en, tranformant votre idée  en projet. 
                </p>
            </div>

                <div class="col-lg-4 trust-description">
                <p class="services-icon">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </p>
                <h4 class="trust-title">Transformez votre bussiness</h4>
                <p class="trust-text">
                    Vous avez l’impression de stagner dans votre business ? Quelle que soit la taille de votre entreprise, notre équipe possède toutes les aptitudes pour rapidement confronter (via la recherche) les options/orientation de votre business et faire des propositions pour un développement durable, c’est-à-dire un développement rentable au plan économique, respectueux de l’environnement et socialement viable.
                </p>
            </div>

                        <div class="col-lg-4 trust-description">
                <p class="services-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </p>
                <h4 class="trust-title">Ameliorez votre productivité</h4>
                <p class="trust-text">
                    Nous mettons à votre disposition un arsenal d’outils à partir desquels un diagnostic approfondi de votre entreprise sera conduit. En outre, nous vous fournissons des outils d’aide à la décision afin d’améliorer de façon continue la qualité et la productivité de votre entreprise.
                </p>
            </div>
        </div>
    </main>
    {{> _footer}}
        <script src="./js/app.js"></script>

    {{!-- <script type="text/x-handlebars-template" src="../public/js/app.js"></script> --}}
</body>

</html>