
/* $customwhite = #0db04f
custonyellow = #a8e230
customgrey = c
lightgrey = #444 */

.custom-button{
    background-color:#0db04f;
    border: solid 1px #fff;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}
.list-item{
    display: inline-flex;
    list-style-type: none;
}
footer{
    background-color: rgb(37, 33, 33);
    color: #a8e230;
    font-weight: bold;
    padding-top: 20px;
    padding-top: 20px;
    }
    footer a{
        color: #a8e230;
        text-decoration: none;
    }
    footer a:hover{
        color: #fff;
    }